/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$color-blue: #596d97;
$color-yellow: #fbdf50;
$color-gray: #9ba4b7;

body {
  background-color: $color-blue;
}

.am-container { max-width: 640px; }

.home {
  h1 {
    font-size: 48px;
    color: #fff;
    margin: 40px 0;
  }

  .qrcode {
    position: relative;
    z-index: 2;
  }

  .logo {
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: visible;
  }
}

.record,
.display,
.timeline {
  padding: 10px;
  .header { margin-top: 10px; }
  .paper {
    background: #fff;
    padding: 20px;
    margin-top: -40px;
  }
}

.record {
  img { cursor: pointer; }
  button {
    background-color: $color-yellow;
    font-weight: bold;
  }

  .paper {
    padding-top: 50px;
    h1 { color: $color-blue; }
  }
  .xs-icon {
    padding: 4px;
    margin-right: 0;
  }
  .lg-icon {
    padding: 3px;
    img { margin-right: 8px; }
  }

  #modal-category {
    .am-modal-bd { padding-top: 15px; }
    p { margin-top: 8px; margin-bottom: 24px; }
  }
  #modal-sticker {
    .am-modal-bd { padding-top: 15px; }
    .am-u-sm-4 { margin-bottom: 15px; }
  }
}

.display {
  .paper {
    h2 {
      color: $color-blue;
      font-size: 1.1em;
      margin-top: 0px;
    }
    p { color: $color-gray; }

    .date { color: #B6B6B6; }
    .am-badge { background-color: $color-gray; }
  }
  .footer {
    color: #fff;
    font-size: 1.2em;
    margin-top: 30px;
    .am-u-sm-4 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .am-margin-top {
    padding-top: 1.6rem;
    border-top: 1px #e7e7e7 solid;
    p { margin-bottom: 0; }
  }
}

.timeline {
  h1 { color: #fff; }
  .paper {
    h2 {
      color: $color-blue;
      font-size: 1.1em;
      margin-top: 10px;
    }
    p, span { color: $color-gray; }
    .date { color: #B6B6B6; }
  }
}
