/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$color-blue: #596d97;
$color-yellow: #fbdf50;
$color-gray: #9ba4b7;

body {
  background-color: $color-blue;
}

.am-container {
  max-width: 640px;
}

.home {
  h1 {
    font-size: 48px;
    color: #fff;
    margin: 40px 0;
  }

  .qrcode {
    position: relative;
    z-index: 2;
  }

  .logo {
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: visible;
  }
}

.record {
  padding: 10px;

  .header {
    margin-top: 10px;
  }

  .paper {
    background: #fff;
    padding: 20px;
    margin-top: -40px;
    padding-top: 50px;

    h1 {
      color: $color-blue;
    }
  }

  .xs-icon {
    padding: 4px;
    margin-right: 0;
  }

  .lg-icon {
    padding: 3px;

    img {
      cursor: pointer;
      margin-right: 8px;
    }
  }

  button {
    background-color: $color-yellow;
    font-weight: bold;
  }
}

#modal-sticker {
  .am-modal-bd {
    padding-top: 15px;
  }
  .am-g {
    margin-bottom: 15px;
  }
  img {
    cursor: pointer;
  }
}
